Add Song:
<br>
<div class="play-container">
    <p>
        Title: <input type="text" [(ngModel)]="title"><br>
       
        Artist: <input type="text" [(ngModel)]="artist"><br>
      
        Genre: <input type="text" [(ngModel)]="genre"><br>
    </p>
</div>
<button (click)="createSong()">Post Item</button>
<br>

<br>
Modify Song Genre:
<br>
<div class="play-container">
    <p>
        Genre: <input type="text" [(ngModel)]="put_genre"><br>
    </p>
</div>
<button (click)="updateSong()">Update</button>
<br>
Delete Song:
<br>
<div class="play-container">
    <p>
        Song Id: <input type="text" [(ngModel)]="songid"><br>
    </p>
</div>
<button (click)="deleteSong()">Delete Item</button>

<br>

Add Playlist:
<br>
<div class="play-container">
    <p>
        Title: <input type="text" [(ngModel)]="pTitle"><br>
       
        Description: <input type="text" [(ngModel)]="description"><br>
    </p>
</div>
<button (click)="createPlaylist()">Post Item</button>
<br>
Modify Playlist By Adding Song:
<br>
<button (click)="updatePlaylist()">Modify</button>
<br>
Delete Playlist:
<br>
<div class="play-container">
    <p>
        Playlist Id: <input type="text" [(ngModel)]="playlistid"><br>
    </p>
</div>
<button (click)="deletePlaylist()">Delete Item</button>

