<p>sitemanager works!</p>

Add Song:
<br>
<div class="play-container">
    <p>
        Title: <input type="text" [(ngModel)]="title"><br>
       
        Artist: <input type="text" [(ngModel)]="artist"><br>
      
        Genre: <input type="text" [(ngModel)]="genre"><br>
    </p>
</div>
<button (click)="createSong()">Post Item</button>
<br>
<br>
<button>Add</button>
<br>
Modify Song Genre:
<br>
<button>Modify</button>
<br>
Delete Song:
<br>
<button>Delete</button>
<br>

Add Playlist:
<br>
<button>Add</button>
<br>
Modify Playlist By Adding Song:
<br>
<button>Modify</button>
<br>
Delete Playlist:
<br>
<button>Delete</button>
