<p>SongHub is an environment where you share and rate your favourite music</p>
<a routerLink="/Register"><button> Register</button></a>
<a routerLink="/Login"><button> Login</button></a>
<a routerLink="/DMCA"><button> DMCA Policy</button></a>
<a routerLink="/PrivacyPolicy"><button> Privacy Policy</button></a>

<div>Top 10 List</div>

Search Songs: <input type="text" id="songKeyword" placeholder="Keyword" [(ngModel)]="keyword">
<button (click)="searchSong()">Search</button>
<ul *ngIf="songs">
  <li *ngFor="let songs of songs">
    <p class="name">Title: {{ songs.title }}</p>
    <p class="name">Artist: {{ songs.artist }}</p>
    <p class="name">Genre: {{ songs.genre }}</p>
    
    
  </li>
</ul>
<br>
Find All Reviews For A Song:
<input type="text" [(ngModel)]="song_id">
<button (click)="getReviews()">Find Reviews</button>
<ul *ngIf="songReviews">
        <li *ngFor="let songReviews of songReviews">
          <p class="name">Name: {{ songReviews.username }}</p>
          <p class="name">Text: {{ songReviews.text }}</p>
          <p class="name">Rating: {{ songReviews.rating }}</p>
          
          
        </li>
</ul>

Add Song:
<br>
<div class="play-container">
    <p>
        Title: <input type="text" [(ngModel)]="title"><br>
       
        Artist: <input type="text" [(ngModel)]="artist"><br>
      
        Genre: <input type="text" [(ngModel)]="genre"><br>
    </p>
</div>
<button (click)="createSong()">Post Item</button>

Add Review:
<div class="play-container">
  <p>
      Song ID: <input type="text" [(ngModel)]="songID2"><br>

      Text: <input type="text" [(ngModel)]="text"><br>
     
      Rating: <input type="number" [(ngModel)]="rating"><br>
    
      Username: <input type="text" [(ngModel)]="username"><br>
  </p>
</div>
<button (click)="createReview()">Post Item</button>